h1,
h2 {
  color: white;
}

#map-container {
  width: 60%;
  height: 60vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popup {
  min-width: 3rem;
  font-size: 1rem;
}

.deactivated {
  color: red;
}

#invisible {
  opacity: 0;
}
